/* import ggfonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #36141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

img{
    width: 100%;
    display: block;
}

section{
    min-height: 100vh;
    background: var(--primary-color);
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    min-height: 100vh;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 40px;
}

.content .content_img,
.content .description {
    width: 50%; 
}

.content .content_img{
    margin-right: 30px;
}

.content .description{
    padding-left: 0; 
}

.content .name{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.content .title{
    margin-top: 8px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.content .cost{
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.content .button{
    font-size: large;
    margin-top: 10px;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.content .button:hover{
    color: var(--white-color);
    background: transparent;
    border-color: var(--white-color);
}

.content .quantity{
    width: 40%;
    border-radius: var(--border-radius-s);
    background: var(--light-pink-color);
    text-align: center;
    padding: 8px;
    border: none;
}